@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@500&display=swap');

:root{
    font-size: 16px;
    font-family: Roboto, sans-serif;
    
    --color-orange: hsl(10, 100%, 58%);
    --color-navy: hsl(206, 72%, 11%);
    --color-navy-highlight: hsl(206, 72%, 12%);
    --color-navy-light: hsl(215, 26%, 40%);
    --color-background: hsl(215, 26%, 89%);
    --color-background-2: hsl(215, 26%, 75%);

    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Main*/
main{
    color: var(--color-navy);
    background-color: var(--color-background);

    margin-left: 5rem;
}

/*Nav bar*/
.navbar {
    width: 5rem;
    height: 100vh;

    position: fixed;

    background-color: var(--color-navy);

    transition: width 200ms ease;
    z-index: 9999;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;

    height: 100%;

    display: flex;
    flex-direction: column;

    align-content: center;
}

.nav-item{
    width: 100%;
    border: 0;
    transition: 200ms ease;
}
.nav-item:first-child{
    margin-bottom: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;

    color: var(--color-navy-light);

    text-decoration: none;
}
.nav-link svg{
    min-width: 2rem;
    max-width: 2rem;
    margin: 0 1.5rem;

    fill: var(--color-navy-light);
}
.logo svg{
    transition: 200ms ease;
}

.link-text{
    display: none;
}


/*Nav bar mobile*/
@media only screen and (max-width: 900px){
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }
    .nav-item{
        transition: none;
    }
    .nav-item:hover{
        background-color: var(--color-navy-highlight);
        border-top: 0.2rem solid var(--color-orange);
    }
    .nav-item:hover svg {
        fill: var(--color-orange);
    }
    .nav-item:hover .link-text{
        color: var(--color-orange);
    }
    .logo{
        display: none;
    }
    main{
        margin-bottom: 5rem;
        margin-left: 0;
    }
}
/*Nav bar Large*/
@media only screen and (min-width: 900px){
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    
    .navbar:hover{
        width: 10rem;
    }
    .navbar:hover .link-text{
        display: inline;
    }
    .navbar:hover{
        width: 10rem;
    }
    .navbar:hover .link-text{
        display: inline;
    }
    .navbar:hover .logo svg{
        transform: translateX(2.5rem);
    }
    
    .nav-item:hover{
        background-color: var(--color-navy-highlight);
        border-left: 0.2rem solid var(--color-orange);
    }
    .nav-item:hover svg {
        fill: var(--color-orange);
    }
    .nav-item:hover .link-text{
        color: var(--color-orange);
    }
}


/*Hero section*/

.hero {
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    gap: 1rem;
}
.text-container{
    z-index: 800;
}
.text-container h1{
    font-size: 3rem;
}
.hero-img{
    display: flex;
    align-items: center;
}
.circle{
    width: 20rem;
    height: 20rem;
    
    background-color: var(--color-orange);
    border-radius: 50%;
    
    display: inline-block;
    z-index: 0;

    transition: 400ms ease;
}
.hero-img img{
    width: 15rem;
    margin-left: -15rem;

    border-radius: 5rem 1rem;
    z-index: 1;

    transition: 400ms ease;
}

/*Hero mobile*/
@media only screen and (max-width: 900px) {
    .hero{
        flex-direction: column-reverse;
    }
    .text-container{
        text-align: center;
    }
    .text-container h1{
        font-size: 2rem;
    }
    .hero-img{
        margin-top: 0rem;
    }
}
@media only screen and (min-width: 900px) {
    .hero{
        flex-wrap: wrap-reverse;
    }
    
    .hero-img:hover div{
        transform: translateX(1rem) scale(1.3);
    }
    .hero-img:hover img{
        transform: translateX(-1.5rem);
        border-radius: 50%;
    }
}

/*About me*/

.about{
    height: 100vh;
    background-color: var(--color-background-2);

    text-align: center;

    padding: 5em;
    box-sizing: border-box;
    
    justify-content: center;
    align-items: center;
}

/*Projects*/

.projects{
    min-height: 100vh;
    background-color: var(--color-background);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    width: 80vw;
    min-height: 60vh;
}

.card{
    background-color: var(--color-background-2);
    width: 20rem;
    padding: 1rem;
    
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card > img{
    width: 100%;
    opacity: 100%;
}

.links{
    display: flex;
    align-items: center;

    gap: 6rem;
}
.links svg{
    min-width: 2rem;
    fill: var(--color-navy-light);
    transition: all 200ms ease;
}
.links svg:hover{
    fill: var(--color-orange);
    transform: scale(1.1);
}

/* projects Mobile  */
@media only screen and (max-width: 900px) {
    .projects{
        height: 125vh;
    }
}

/*Contact me*/
.contact{
    height: 100vh;
    background-color: var(--color-background-2);
}