@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@500&display=swap');

:root{
    font-size: 16px;
    font-family: Roboto, sans-serif;
    
    --color-orange: hsl(10, 100%, 58%);
    --color-navy: hsl(206, 72%, 11%);
    --color-navy-highlight: hsl(206, 72%, 12%);
    --color-navy-light: hsl(215, 26%, 40%);
}

body{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Main*/
main{
    color: var(--color-navy);

    margin-left: 5rem;
    padding: 1rem;
}

/*Nav bar*/
.navbar {
    width: 5rem;
    height: 100vh;

    position: fixed;

    background-color: var(--color-navy);

    transition: width 200ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;

    height: 100%;

    display: flex;
    flex-direction: column;

    align-content: center;
}

.nav-item{
    width: 100%;
    border: 0;
    transition: 200ms ease;
}
.nav-item:first-child{
    margin-bottom: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;

    color: var(--color-navy-light);

    text-decoration: none;
}
.nav-link svg{
    min-width: 2rem;
    max-width: 2rem;
    margin: 0 1.3rem;

    fill: var(--color-navy-light);
}
.logo svg{
    transition: 200ms ease;
}

.link-text{
    display: none;
}


/*Nav bar mobile*/
@media only screen and (max-width: 600px){
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }
    .nav-item{
        transition: none;
    }
    .nav-item:hover{
        background-color: var(--color-navy-highlight);
        border-bottom: 0.2rem solid var(--color-orange);
    }

    main{
        margin: 0;
    }
}
/*Nav bar Large*/
@media only screen and (min-width: 600px){
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    
    .navbar:hover{
        width: 10rem;
    }
    .navbar:hover .link-text{
        display: inline;
    }
    .navbar:hover{
        width: 10rem;
    }
    .navbar:hover .link-text{
        display: inline;
    }
    .navbar:hover .logo svg{
        transform: translateX(2.5rem);
    }
    
    .nav-item:hover{
        background-color: var(--color-navy-highlight);
        border-left: 0.2rem solid var(--color-orange);
    }
}

